  <div class="col-md-3">
    <h2>User info</h2>
      <%= image_tag user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a class="btn btn-outline-secondary btn-block" href="<%= edit_user_path(current_user.id) %>"><i class="fa-solid fa-user-gear"></i></a>
      </div>
        
    <h2>New book</h2>
      <%=form_with model: book, url: '/books', method: :post do |f| %>
        <h6>title</h6>
        <%= f.text_field :title %>
        <h6>opinion</h6>
        <%= f.text_area :body %>
        <%= button_to 'Create Book', '/books', class: 'btn btn-success', style: 'color: white; background-color: green;' %>
      <% end %>
  </div>
